#wrapper{



width: 100%;

margin-left: auto;
margin-right: auto;
}
header{

Height: 150px;
width: 100%;
text-align: center;
font-size: 60px;


}

nav{
  height: 50px;
  width: 100%;
  font-size: 31px;



}

main{



  width: 100%;
  display: flex;







  }

#mainruta1{
  position fixed: 200px;




}




  }

}

aside{
  height: 450px;
  width: 200px;


}

footer{
  height: 100px;
  width: 100%;





}


a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}



a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

#container{

  display:flex;


}


bain{


margin: auto;

text-align: center;

width: 600px;
height: 100px;


}


#låda1{

  width: 600px;
  height: 400px;

text-align: center;
margin-right: auto;


}

#låda2{

width: 500px;
height: 300px;

text-align: center;
margin-left: auto;
position: relative; top: -400px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


#grafiklänk{

position: relative; left: -120px;


}


#processortext{


font-size: 20px;
position: relative; right: -10px;



}

#mainruta2{

font-size: 20px;
position: relative; left: 10px;

}


#guide{

text-align: center;
font-size: 30px;

}

#processorkälla{

position: relative; right: 608px;

}

#proccessorbudget{

text-align: center;
font-size: 20px;

}

#hårddiskmain{
width: 800px;
height: 200px;
position: relative; left: 400px;
font-size: 16px;
text-align: center;


}

#hdd{

position: relative; right: 400px;
text-align: center;
font-size: 20px;
position: relative; top: 50px;


}


#ssd{

text-align: center;
font-size: 20px;
position: relative; left: -70px;
position: relative; top: 50px;


}

#ssdf{

width: 400px;
height: 400px;
text-align: center;
font-size: 15px;
position: relative; left: 75px;
}

#hddf{

width: 400px;
height: 400px;
text-align: center;
font-size: 15px;
position: relative; right: -790px;
position: relative; top: -400px;

}



#lagringskälla{

position: relative; left: 200px;

}
