#wrapper{

width: 100%;

margin-left: auto;
margin-right: auto;
}
header{

Height: 150px;
width: 100%;
text-align: center;
font-size: 60px;


}

nav{
  height: 50px;
  width: 100%;
  font-size: 31px;



}

main{
  height: 450px;
  width: 100%;
  display: flex;







  }

#mainruta1{
  position fixed: 200px;




}




  }

}

aside{
  height: 450px;
  width: 200px;


}

footer{
  height: 100px;
  width: 100%;


}


a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}



a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

#container{
  display:flex;


}
